.group-container {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 7px;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 9px 29px -3px rgba(96, 99, 117, 1);
  -moz-box-shadow: 0px 9px 29px -3px rgba(96, 99, 117, 1);
  box-shadow: 0px 9px 29px -3px rgba(96, 99, 117, 1);
}
